html:not(:theme(dark)) {
     var(panel-back): #f8f8f8;
     var(popup-panel): #f7f7f7;
     var(panel-text): #333;
     var(back): #fff;
     var(text): #000;
     var(border): #888;
     var(button-back): #d7d7d7 ;
     var(button-pressed-back): #d7d7d7 ;
     var(hover-border): #000 ;
     var(disabled-text): #888 ;
     var(disabled-back): #eee ;
     var(hover-option-cover): rgba(0,0,0,0.1);
}
html {
     font-family: "Segoe UI", Helvetica, sans-serif;
     font-size:15pt;

     var(accent): window-accent-color;
     var(accent-text): #fff ;
     var(border-width): 0.14em;
     var(border-double-width): 0.28em;
     var(border-radius): 0dip;
     var(icon-size): window-icon-size ;

     background:color(panel-back);
     color: color(panel-text);
}
