@const MENU-HILITE-TEXT: #fff;
@const MENU-HILITE-BACK: #000;
body {
  font:system;
  background:#eee;
}
.container {
	size:*;
	border-top:1dip solid #aaa;
  border-bottom: 1dip solid #aaa;
  overflow: scroll-indicator;
  flow:vertical ;
	box-shadow:1px 2px #E8E8E8;
}

.container .cell .editor {
	behavior: plaintext;
	border: 1px #E8E8E8 solid;
	padding: 8dip;
	font: 12pt monospace;
  background-color: #fff;
}

.container .cell .console {
	font: 12pt system;
	padding: 8dip;
}
menubar /* top level menu */
{
    font: system; font-rendering-mode:classic ;
    display:block ;
    behavior:menu-bar;
    flow: horizontal ;
    color: @MENU-TEXT;
    margin: 0 ;
}

menubar > li /* menu item in bar */
{
     padding: 2px 8px ;
     margin: 0 ;
     white-space: nowrap ;
     width: max-intrinsic;
     display:block ;
     flow:horizontal;
}
menubar > li:hover ,
menubar > li:current /* current menu item in menu bar */
{
    background-color:@MENU-HILITE-BACK ;
    color:@MENU-HILITE-TEXT ;
}

footer {
   text-align: center ;
   behavior: form ;
   line-height: 1.9em;
}
